In [2]:
#importing the necessary libraries
import pandas as pd

In [3]:
#reading the data
df = pd.read_csv('data/student-mat.csv')

In [4]:
#inspecting the data
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [5]:
#checking the length of the data
len(df)

395

In [6]:
#checking the data types
df.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [7]:
#checking for missing values
df.isnull().any()

school        False
sex           False
age           False
address       False
famsize       False
Pstatus       False
Medu          False
Fedu          False
Mjob          False
Fjob          False
reason        False
guardian      False
traveltime    False
studytime     False
failures      False
schoolsup     False
famsup        False
paid          False
activities    False
nursery       False
higher        False
internet      False
romantic      False
famrel        False
freetime      False
goout         False
Dalc          False
Walc          False
health        False
absences      False
G1            False
G2            False
G3            False
dtype: bool

In [8]:
#showing the correlation of the 'G3' column
df.corr()['G3']

age          -0.161579
Medu          0.217147
Fedu          0.152457
traveltime   -0.117142
studytime     0.097820
failures     -0.360415
famrel        0.051363
freetime      0.011307
goout        -0.132791
Dalc         -0.054660
Walc         -0.051939
health       -0.061335
absences      0.034247
G1            0.801468
G2            0.904868
G3            1.000000
Name: G3, dtype: float64

In [9]:
#getting the feature names
df.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [10]:
#Investigating the features

#Calculating the mean for school in column 'G3'
df.groupby('school')['G3'].mean()

school
GP    10.489971
MS     9.847826
Name: G3, dtype: float64

In [11]:
#investigating daily alcohol consumptions

#mean daily alcohol consumption
df.groupby('Dalc')['G3'].mean()

Dalc
1    10.731884
2     9.253333
3    10.500000
4     9.888889
5    10.666667
Name: G3, dtype: float64

In [12]:
#count daily alcohol consumption
df.groupby('Dalc')['G3'].count()

Dalc
1    276
2     75
3     26
4      9
5      9
Name: G3, dtype: int64

In [13]:
#standard deviation daily alcohol consumption
df.groupby('Dalc')['G3'].std()

Dalc
1    4.676502
2    4.812970
3    3.443835
4    2.619372
5    2.692582
Name: G3, dtype: float64

In [15]:
#investigating travel time

#the mean travel time
df.groupby('traveltime')['G3'].mean()

traveltime
1    10.782101
2     9.906542
3     9.260870
4     8.750000
Name: G3, dtype: float64

In [16]:
#the count for travel time
df.groupby('traveltime')['G3'].count()

traveltime
1    257
2    107
3     23
4      8
Name: G3, dtype: int64

In [17]:
#the standard deviation for time
df.groupby('traveltime')['G3'].std()

traveltime
1    4.523289
2    4.600108
3    5.074154
4    3.918819
Name: G3, dtype: float64

In [ ]:
#investigating